In [1]:
import datetime as dt

In [6]:
someday = dt.date(2010,5,12)

In [7]:
someday.year
someday.month
someday.day

12

In [8]:
someday

datetime.date(2010, 5, 12)

In [12]:
str(dt.datetime(2010,5,12))

'2010-05-12 00:00:00'

In [11]:
str(dt.datetime(2010,5,12,17,5,0))

'2010-05-12 17:05:00'

In [14]:
import pandas as pd
pd.Timestamp(dt.datetime(2010,5,12,17,5,0))

Timestamp('2010-05-12 17:05:00')

In [15]:
pd.Timestamp('12/03/2019') #gets reversed, be careful

Timestamp('2019-12-03 00:00:00')

In [19]:
dates_manual = [pd.datetime(2010,5,12,17,5,0),pd.datetime(2013,5,10),pd.datetime(2008,6,23,0,0,0)]
dates_manual

[datetime.datetime(2010, 5, 12, 17, 5),
 datetime.datetime(2013, 5, 10, 0, 0),
 datetime.datetime(2008, 6, 23, 0, 0)]

In [20]:
values=[100,200,300]
pd.Series(index=dates_manual,data=values)

2010-05-12 17:05:00    100
2013-05-10 00:00:00    200
2008-06-23 00:00:00    300
dtype: int64