#### Wrangling
- Gather
- Assess
- Clean

##### https://www.rottentomatoes.com/top/bestofrt/
##### https://www.rogerebert.com/
##### https://amueller.github.io/word_cloud/
##### https://computers.tutsplus.com/tutorials/navigating-the-terminal-a-gentle-introduction--mac-3855
##### https://www.udacity.com/course/linux-command-line-basics--ud595
##### https://professor-excel.com/xml-zip-excel-file-structure/
##### https://pandas.pydata.org/pandas-docs/stable/api.html#flat-file
##### https://medium.com/towards-data-science/ethics-in-web-scraping-b96b18136f01
##### https://twitter.com/venturidb/status/734757220525715456
##### https://stackoverflow.com/questions/19508442/beautiful-soup-and-unicode-problems
##### https://stackoverflow.com/questions/10993612/python-removing-xa0-from-string
##### https://www.crummy.com/software/BeautifulSoup/

- Flat files contain tabular data in plain text format with one data record per line and each record or line having one or more fields. These fields are separated by delimiters, like commas, tabs, or colons.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/bestofrt.tsv',sep='\t')

In [3]:
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

##### Finding/Matching some string in a data
- using str.find()
- Regular Expressions
- Beautiful soup

In [129]:
from bs4 import BeautifulSoup
import os

In [130]:
# with open('../data/rt_html/et_the_extraterrestrial.html') as file:
#     soup = BeautifulSoup(file,'lxml')

In [131]:
#soup.find('title')

In [132]:
#soup.find('').contents[0][:-len(' - Rotten Tomatoes')]

In [128]:
df_list = []
folder_path = '../data/rt_html/'
for html_file in os.listdir(folder_path):
    with open(os.path.join(folder_path,html_file)) as file:
        soup = BeautifulSoup(file,'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div',class_='audience-score meter').find('span').contents[0].replace('%','')
        num_audience_ratings = soup.find('div',class_='audience-info hidden-xs superPageFontColor').find_all('div')[1].contents[2].strip().replace(',','')
        #print(title)
        #print(audience_score)
        #print(num_audience_ratings)
        df_list.append({'title':title,'audience_score':int(audience_score),'number_of_audience_ratings':int(num_audience_ratings)})
        #break
    
#os.listdir('../data/rt_html')
df = pd.DataFrame(df_list,columns=['title','audience_score','number_of_audience_ratings'])
df.head()

,title,audience_score,number_of_audience_ratings
0,Zootopia (2016),92,98633
1,The Treasure of the Sierra Madre (1948),93,25627
2,All Quiet on the Western Front (1930),89,17768
3,Rear Window (1954),95,149458
4,Selma (2015),86,60533

In [133]:
# os.path.join(folder_path, 'et_the_extraterrestrial.html')
# soup.find('div',class_='audience-score meter').find('span').contents[0]

In [134]:
# soup.find('div',class_='audience-info hidden-xs superPageFontColor').find_all('div')[1].contents[2].strip().replace(',','')

In [135]:
# df_list = []
# df_list.append({1:'a',2:'b'})
# pd.DataFrame(df_list)

In [136]:
# df_list = []
# folder_path = '../data/rt_html/'
# for html_file in os.listdir(folder_path):
#     with open(os.path.join(folder_path,html_file)) as file:
#         print(file)

In [137]:
#next task : separate the year and add it as a new column